__pycache__/
*.ckpt
*.safetensors
*.pth
.DS_Store

# Model weights and LoRA assets
/models/**
!/models/.gitkeep   # keep folder in repo, but not contents
/lora/**
!/lora/.gitkeep     # same here if you use lora folder

# Upscaler model directories
/ESRGAN/*
/SwinIR/*

# Common SD folders
/repositories/
/venv/
/tmp/
/outputs/
/interrogate/
/embeddings/
/extensions/
/textual_inversion/
/config_states/
/cache/

# User/OS specific
/log
/notification.mp3
/user.css
/.idea/
/.vscode/
/node_modules/
/package-lock.json

# Misc system and test files
/test/stdout.txt
/test/stderr.txt
/test/test_outputs
/.coverage*
/cache.json*
/trace.json
/sysinfo-????-??-??-??-??.json

# Misc config
/model.ckpt
/config.json
/ui-config.json
/params.txt
/styles.csv
/styles.csv.bak
/webui.settings.bat
/webui-user.bat
/webui-user.sh
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
